body {
        padding-top: 70px;
        padding-bottom: 40px;
        background-color: #f5f5f5;
}

.form-actions{
	background:none;
}

form{
	padding-top: 20px;
	border: 1px solid #D4D4D4;
	border-radius: 5px;
}

.page-header{
	padding-left: 30px;
}
